[Desktop Entry]
Name=BookOS-App-Dark
Comment=BookOS App-style window decoration (Dark)
Encoding=UTF-8
Type=Service
X-KDE-ServiceTypes=KWin/AuroraeTheme
X-KDE-PluginInfo-Author=BookOS
X-KDE-PluginInfo-Email=noreply@bookos
X-KDE-PluginInfo-Name=BookOS-App-Dark
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-EnabledByDefault=true
