[AdaptiveTransparency]
enabled=true

[ContrastEffect]
contrast=0.9
enabled=true
intensity=0.35
saturation=1.2

[Desktop Entry]
Comment=BookOS Dark - iOS-inspired dark theme for Plasma
Name=BookOS Dark
X-KDE-PluginInfo-Author=BookOS
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=bookos-dark
X-KDE-PluginInfo-Version=1.0.0
X-Plasma-API=5.0
